@charset "utf-8";
/*										header
-----------------------------------------------*/
header{
	height: 240px;
	width: 100%;
	background: url(../images/bg_hd2.jpg);
	background-repeat: repeat-x;
	margin-bottom: 50px;
}
#headerMain{
	height: 240px;
	width: 960px;
	margin: 0 auto;
	background: url(../images/bg_hd_nav.png);
}
#logo{
	height: 240px;
	width: 300px;
	float: left;
}
header ul{
	padding-top: 40px;
	height: 40px;
	width: 660px;
	float: left;
	overflow: hidden;
}
header li{
	height: 40px;
	width: 120px;
	margin-right: 15px;
}
.liLast{
	margin-right: 0px;
}
a{
	height:40px;
	width: 120px;
	display: block;
}
#nav1{
	height: 40px;
	width: 120px;
	background: url(../images/nav_01_off.png);
}
#nav1:hover{
	height: 40px;
	width: 120px;
	background: url(../images/nav_01_on.png);
}
#nav2{
	height: 40px;
	width: 120px;
	background: url(../images/nav_02_off.png);
}
#nav2:hover{
	height: 40px;
	width: 120px;
	background: url(../images/nav_02_on.png);
}
#nav3{
	height: 40px;
	width: 120px;
	background: url(../images/nav_03_out_off.png);
}
#nav3:hover{
	height: 40px;
	width: 120px;
	background: url(../images/nav_03_out_on.png);
}
#nav4{
	height: 40px;
	width: 120px;
	background: url(../images/nav_04_off.png);
}
#nav4:hover{
	height: 40px;
	width: 120px;
	background: url(../images/nav_04_on.png);
}
#nav5{
	height: 40px;
	width: 120px;
	background: url(../images/nav_05_out_off.png);
}
#nav5:hover{
	height: 40px;
	width: 120px;
	background: url(../images/nav_05_out_on.png);
}
/*										footer
-----------------------------------------------*/
footer{
	height: 120px;
	width: 100%;
	background: url(../images/bg_ft.jpg);
	background-color: #e6fbff;
	background-repeat: repeat-x;
	position: relative;
	bottom: 0;
	font-size: 1.6rem;
}
#footerMain{
	height: 105px;
	width: 960px;
	padding: 15px 30px 0 30px;
	margin: 50px auto 0 auto;
}
#footerMain p{
	font-size: 1.6rem;
}