@charset "utf-8";
/*----------------------------------------------
	all
	body
	main
		-game
		-opening
		-policy
		-info
*/


/*										all
-----------------------------------------------*/
*,html,body{
	margin: 0px;
	padding: 0px;
}
/*										body
-----------------------------------------------*/
body{
	background: url(../images/background_classroom.jpg);
	background-size: cover;
}
ul{
	list-style: none;
}
li{
	float: left;
}
h2{
	height: 25px;
	width: auto;
	margin: 50px 0 55px 50px;
}
/*										main
-----------------------------------------------*/
main{
	min-height: 300px;
	width: 960px;
	margin: 0 auto;
	background: #fafafa;
	position:relative;
}
#replayOpning{
	height: 525px;
	width: 940px;
	background: url(../images/background_room.jpg);
	background-size: cover;
	position:absolute;
	top: 10px;
	left: 10px;
}
/*game*/
#game{
	height: 500px;
	width: 920px;
	padding: 20px;
	background: url(../images/bg_game.png);
	position: relative;
}
#game #selectLeft{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 220px;
	left: 85px;
}
#game #selectRight{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 220px;
	right: 85px;
}
#game #select{
	position: absolute;
	top: 115px;
	left: 230px;
	height: 270px;
	width: 480px;
	overflow:hidden;
}
#game #select #selectSlide{
	height: 270px;
	width: 5000px;
	position: relative;
}
#game #select #selectSlide img{
	float: left;
}
/*info*/
#info input{
	height: 40px;
	width: 720px;
	margin-bottom: 20px;
}
#info textarea{
	height: 100px;
	width: 720px;
	margin-bottom: 35px;
}
#info input[type="button"]{
	border: 0px;
	height: 40px;
	width: 120px;
	background: url(../images/btn_send_off.png);
	margin: 0 35px 20px 50px;
}
#info input[type="button"]:hover{
	border: 0px;
	height: 40px;
	width: 120px;
	background: url(../images/btn_send_on.png);
	margin: 0 35px 20px 50px;
}
#info img{
	height: 40px;
	width: 105px;
	margin: 0 35px 20px 50px;
	float:left;
}
#info select{
	height: 40px;
	width: 100px;
	margin: 0 20px 20px 0;
}
select#que{
	width: 720px;
}
input[type="button"]#add{
	height: 150px;
	width: 150px;
	background: url(../images/btn_regi_off.png);	
}
input[type="button"]#add:hover{
	height: 150px;
	width: 150px;
	background: url(../images/btn_regi_on.png);	
}
/*social*/
#social{
	height: 525px;
	width: 940px;
	background: #e6fbff;
	position: relative;
	top: -10px;
	left: -10px;
	z-index: 10;
	text-align: center;
}
#socialTitle{
	height: 40px;
	width: 200px;
	margin-top: 50px;
}
#socialSTitle{
	height: 30px;
	width: 350px;
	margin-top: 35px;
}
#socilaBtn{
	height: 50px;
	width: 300px;
	margin: 0 auto;
}
.socialBtn{
	height: 50px;
	width: 50px;
	margin: 25px 15px 25px 15px;
}
#social textarea{
	height: 120px;
	width: 500px;
	margin-bottom: 35px;
}
#social input[type="button"]#btn_yes{
	height: 50px;
	width: 200px;
	margin-right: 100px;
	border: 0px;
	background: url(../images/btn_useful_off.png);
}
#social input[type="button"]#btn_yes:hover{
	height: 50px;
	width: 200px;
	margin-right: 100px;
	background: url(../images/btn_useful_on.png);
	border: 0px;
}
#social input[type="button"]#btn_no{
	height: 50px;
	width: 200px;
	background: url(../images/btn_useless_off.png);
	border: 0px;
}
#social input[type="button"]#btn_no:hover{
	height: 50px;
	width: 200px;
	background: url(../images/btn_useless_on.png);
	border: 0px;
}
#social a img{
	height: 25px;
	width: 145px;
	position: absolute;
	bottom: 20px;
	right: 30px;
}

