
@charset "utf-8";
/*----------------------------------------------
	all
	body
	main
		-game
		-opening
		-policy
		-info
*/


/*										all
-----------------------------------------------*/
*,html,body{
	margin: 0px;
	padding: 0px;
	font-size: 62.5%;
}
html,body{
	width: 100%;
	height: 100%;
}
/*										body
-----------------------------------------------*/
body#er #bodyWrapper{ 
	background: url(../images/bg_error.png) no-repeat;
	background-size: cover;
} 
body#admin #bodyWrapper{ 
	background: url(../images/admin_bg.png) no-repeat; 
	background-size: cover; 
} 
body #bodyWrapper{
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
}
ul{
	list-style: none;
}
li{
	float: left;
}
h2{
	height: 25px;
	width: 300px;
	margin: 20px 0 20px 20px;
}
#bodyWrapper{
	position: relative;
	height: auto !important;    
    height: 100%;
    min-height: 100%;
}
/*										main
-----------------------------------------------*/
#mainWrapper{
	padding-bottom: 180px;
}
main{
	display: block;
	min-height: 400px;
	width: 960px;
	background: #fafafa;
	margin: 80px auto 0;
}
#replayOpning{
	height: 525px;
	width: 940px;
	background: url(../images/background_room.jpg);
	background-size: cover;
	position: absolute;
	top: 10px;
	left: 10px;
}
/*index*/
#gameLogo{
	position: absolute;
	height: 240px;
	width: 300px;
	top: 143px;
	left: 320px;
	z-index: 10;
}
#loginForm{
	height: 180px;
	width: 300px;
	border-radius: 10px;
	position: absolute;
	padding: 10px;
	bottom:30px;
	right: 35px;
	z-index: 99;
	background: rgba(255,255,255,0.50);
}
#loginForm input[type="submit"]{
	height: 40px;
	width: 120px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	border: 0;
	background: url(../images/nav_05_out_off.png);
}
#loginForm input[type="submit"]{
	background: url(../images/nav_05_out_on.png);
}
#game input[type="email"]{
	width: 180px;
}
#game input[type="password"]{
	width: 180px;
}
#loginForm img form{
	height: 20px;
	width: 70px;
	margin: 20px 10px 15px 20px;
}
/*game*/
#game{
	position: relative;
	height: 500px;
	width: 920px;
	padding: 20px;
	background: url(../images/bg_game.png);
}
#game #skip{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 99;
	cursor: pointer;
}
#game #next{
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 99;
	height: 200px;
	width: 300px;
}
#game .textSplitLoad{
	font-size: 1.6rem;
}
#game #hukidashi{
	height: 100px;
	width: 720px;
	background: rgba(230,251,255,0.75);
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -360px;
	border-radius: 10px;
	overflow: hidden;
	z-index: 6;
    cursor: pointer;
}
#game #talker{
	height: 100px;
	width: 120px;
	font-size: 1.6rem;
	line-height: 100px;
	float: left;
	text-align: center;
}

#game #talker img{
	display: block;
	margin: 0 auto;
	width: 90px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


#game #gameArticle{
	height: 100px;
	width: 600px;
	left: 120px;
	position: absolute;
}
#game #gameArticle > p{
	line-height: 50px;
	font-size: 1.6rem;
	margin: 0;
}
#game #selectLeft{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 220px;
	left: 85px;
}
#game #selectRight{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 220px;
	right: 85px;
}
#game #select{
	position: absolute;
	top: 115px;
	left: 230px;
	height: 270px;
	width: 480px;
	overflow:hidden;
}
#game #select #selectSlide{
	height: 270px;
	width: 5000px;
	position: relative;
}
#game #select #selectSlide img{
	float: left;
	cursor: pointer;
}
#gameBack{
	height: 525px;
	width: 940px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	background-size: cover;  
}
#gameBackBlack{
	height: 525px;
	width: 940px;
	background: rgba(0,0,0,0.70);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	cursor: pointer;
}
#regi{
	height: 175px;
	width: 940px;
	position: absolute;
	cursor: pointer;
	z-index: 15;
	top: 180px;
	left: 10px;
	background: url(../images/bg_regi_off.png);
}
#regi:hover{
	height: 175px;
	width: 940px;
	position: absolute;
	z-index: 15;
	top: 180px;
	left: 10px;
	background: url(../images/bg_regi_on.png);

}
#timer{
	height: 125px;
	width: 125px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 6;
	background: url(../images/bg_timer.png);
}
#timer img{
	height: 50px;
	width: 50px;
	position: absolute;
	top:40px;
	left: 40px;
}
#timeup{
	display: none;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 10;
	background: url(../images/title_timeup.png) center center no-repeat;
	cursor: pointer;
}
#event{
	height: 45px;
	width: 240px;
	position: absolute;
	top: 10px;
	left: 340px;
	z-index: 6;
	background: url(../images/title_event.png); 
}
#eventTitle{
	height: 40px;
	width: 500px;
	position: absolute;
	top: 100px;
	left: 220px;
	z-index: 6;
	text-align: center;
	content: #fff;
	font-size: 1.6rem;
	color: #fff;
}
#selectBox{
	height: 400px;
	width: 600px;
	position: absolute;
	top: 160px;
	left: 180px;
	z-index: 6;
}
#gameImg{
	height: 500px;
	width: 300px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -150px;
	z-index: 6;
}
#gameImg #img{
	width: 300px;
	position: absolute;
	bottom: 0;
}
#game #summaryTitle{
	height: 125px;
	width: 125px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 6;
	background: url(../images/title_summary.png);
}
/*info*/
input, textarea, select{
	font-size: 1.6rem;
}

#info{
	position: relative;
}

#info input{
	height: 40px;
	width: 720px;
	margin-bottom: 20px;
}
#info textarea{
	height: 90px;
	width: 710px;
	margin-bottom: 35px;
	padding: 5px;

}
#info .inquiry_send{
	border: 0px;
	height: 150px;
	width: 150px;
	position: absolute;
	bottom: -190px;
	left: 50%;
	margin-left: -75px;
	background: url(../images/btn_inquiry_off.png);
	font-size: 2rem;
	color: #fff;
}
#info .inquiry_send:hover{
	background: url(../images/btn_inquiry_on.png);
}
#info img{
	height: 40px;
	width: 105px;
	margin: 0 35px 20px 50px;
	float:left;
}
#info select{
	height: 40px;
	width: 100px;
	margin: 0 20px 20px 0;
}
/*add*/
#add {
	height: 500px;
	position: relative;
}
select#que{
	width: 720px;
}
input,select,textarea{
	border-radius: 5px;
	border: 1px solid #aaa;
}
#add input[type="image"].add{
	height: 150px;
	width: 150px;
	background: url(../images/btn_regi_off.png);
	border: 0;
	position: absolute;
	bottom: -185px;
	left: 50%;
	margin-left: -75px;
}
/*change*/
#add input[type="image"]#change{
	height: 150px;
	width: 150px;
	background: url(../images/btn_modi_off.png);
	border: 0;
	position: absolute;
	bottom: -185px;
	left: 50%;
	margin-left: -75px;
}
#add input[type="image"]#change:hover{
	height: 150px;
	width: 150px;
	background: url(../images/btn_modi_on.png);	
}

/*social*/
#social{
	display: none;
	height: 525px;
	width: 940px;
	background: #e6fbff;
	position: relative;
	top: -10px;
	left: -10px;
	z-index: 10;
	text-align: center;
}
#socialTitle{
	height: 40px;
	width: 200px;
	margin-top: 50px;
}
#socialSTitle{
	height: 30px;
	width: 350px;
	margin-top: 35px;
}
#socialBtn{
	height: 50px;
	width: 250px;
	margin: 0 auto;
	clear: both;
}
.socialBtn{
	height: 50px;
	width: 50px;
	margin: 25px 15px 25px 15px;
	float: left;
}
#social textarea{
	height: 120px;
	width: 500px;
	margin-bottom: 35px;
}
#social input[type="image"]#btn_yes{
	height: 50px;
	width: 200px;
	margin-right: 100px;
	border: 0px;
	background: url(../images/btn_useful_off.png);
}
#social input[type="image"]#btn_yes:hover{
	height: 50px;
	width: 200px;
	margin-right: 100px;
	background: url(../images/btn_useful_on.png);
	border: 0px;
}
#social input[type="image"]#btn_no{
	height: 50px;
	width: 200px;
	background: url(../images/btn_useless_off.png);
	border: 0px;
}
#social input[type="image"]#btn_no:hover{
	height: 50px;
	width: 200px;
	background: url(../images/btn_useless_on.png);
	border: 0px;
}
#choice{
	height: 25px;
	width: 145px;
	position: absolute;
	bottom: 20px;
	right: 30px;
}
/*footer*/
#footer{
	height: 75px;
	width: 100%;
	background: url(../images/bg_ft.jpg);
	background-color: #e6fbff;
	background-repeat: repeat-x;
	font-size: 1.6rem;
	color: #ED4F4F;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}
#footerMain{
	width: 960px;
	padding: 27.5px 30px 0 30px;
	margin: 0 auto;
	font-size: 1.6em;
}
.footerNav{
}
.footerNavItem{
	border-left: solid 1px #ED4F4F;
	text-align: center;
	padding: 0 10px;
	font-size: 1.4rem;
}
.footerNavItem:first-of-type{
	border: none;
	line-height: 20px;
}

#footerMain a{
	height: 20px;
	width: 100px;
	text-decoration: none;
	color: #ED4F4F;
	font-size: 1.4rem;
}
#footerMain p{
	font-size: 1.4rem;
	line-height: 20px;
	margin: 0px;
	text-align: left;
}

#footerMain > p{
	width: 320px;
	float: right;
}

#social form p{
	width: 200px;
	font-size: 2rem;
	margin: 100px auto 0;
	text-align: center;
}
/*久保追加分*/
.user_id{
	height: 40px;
	width: 720px;
	margin-bottom: 20px;
	font-size: 2rem;
}
#replayButton{
	width: 300px;
	height: 30px;
	margin-bottom: 6px;
}
main h2{
	margin: 0 0 20px 20px;
}

/*error*/
#erA{
	height: 40px;
	width: 450px;
	position: absolute;
	top: 75px;
	left: 50%;
	margin-left: -225px;
}
#erB{
	height: 350px;
	width: 180px;
	position: absolute;
	top: 150px;
	left: 130px;
}
#erC{
	height: 100px;
	width: 440px;
	position: absolute;
	top: 200px;
	left: 410px;
}
#erD{
	height: 40px;
	width: 175px;
	position: absolute;
	top: 350px;
	left: 545px;
}
/*admin*/
#admin #game{
	background-color: #e6fbff;
}

#ad_title{
	height: 45px;
	width: 200px;
	position: absolute;
	top: 75px;
	left: 50%;
	margin-left: -100px;
}
#ad_login{
	height: 270px;
	width: 415px;
	position: absolute;
	top: 185px;
	left: 50%;
	margin-left: -207px;
	background: #eee;
	border-radius: 10px;
}
#ad_log_title{
	height: 35px;
	width: 180px;
	margin: 20px auto 0 auto;
}
#ad_login img:nth-of-type(1){
	height: 20px;
	width: 80px;
	margin: 40px 0 15px 40px;
	float: left;
}
#ad_login input:nth-of-type(1){
	height: 35px;
	width: 225px;
	float: left;
	margin: 40px 0 15px 20px;
}
#ad_login img:nth-of-type(2){
	height:20px;
	width: 80px;
	margin-left: 40px;
}
#ad_login input:nth-of-type(2){
	height: 35px;
	width: 225px;
	margin-left: 20px;
}
#ad_login input[type="submit"]{
	height: 35px;
	width: 110px;
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -55px;
	border: 0;
	background: url(../images/admin_btn_login_off.png);
}
#ad_login input[type="submit"]:hover{
	background: url(../images/admin_btn_login_on.png);
}
#ad_title p,#ad_login p{
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
}
#adm{
	height: 270px;
	width: 435px;
	position: absolute;
	top: 205px;
	left: 50%;
	margin-left: -207px;
}
#adm div{
	height: 125px;
	width: 125px;
	margin: 0 20px 20px 0;
	float: left;
}
#ana{
	background: url(../images/admin_btn_analytics_off.png);
}
#ana:hover{
	background: url(../images/admin_btn_analytics_on.png);
}
#log{
	background: url(../images/admin_btn_logo_off.png);
}
#log:hover{
	background: url(../images/admin_btn_logo_on.png);
}
#ans{
	background: url(../images/admin_btn_answer_off.png);
}
#ans:hover{
	background: url(../images/admin_btn_answer_on.png);
}
.ans{
	height: 50px;
    width: 600px;
    position: absolute;
    left: 0;
    background: url(../images/bg_choice_off.png);
    text-align: center;
    line-height: 50px;
    font-size: 1.4rem;
	cursor: pointer;
	background: url(../images/bg_choice_off.png);
}
.ans:hover{
	background: url(../images/bg_choice_on.png);
}

#select1{
	top: 0;
}
#select2{
	top: 70;
}
#select3{
	top: 140;
}
#select4{
	top: 210;
}

#enq{
	background: url(../images/admin_btn_enquete_off.png);
	cursor: pointer;
}
#enq > a{
	width: 125px;
	height: 125px;
}
#enq:hover{
	background: url(../images/admin_btn_enquete_on.png);
}
#admin #info{
	background: url(../images/admin_btn_info_off.png);
	cursor: pointer;
}
#admin #info:hover{
	background: url(../images/admin_btn_info_on.png);
}
#admin #info > a{
	width: 125px;
	height: 125px;
}
#tool{
	background: url(../images/admin_btn_tool_off.png);
	cursor: pointer;
}
#tool > a{
	width: 125px;
	height: 125px;
}
#tool:hover{
	background: url(../images/admin_btn_tool_on.png);
}
#ana a,#ans a{
	height: 100%;
	width: 100%;
}

.err-message{
	font-size: 1.6rem;
}